<ul class="nav nav-pills">
  <li>
    <%= link_to('New Ingredient', new_ingredient_path) %>
  </li>
</ul>


<% @ingredients.each do |ingredient| %>
  <div class="row">
     <div class="col-md-4 col-sm-4">
      <p class="lead"><%= link_to(ingredient.name, ingredient) %>
      <p><%= ingredient.name %>
      <p><%= ingredient.brand %>
      

    </div>
  </div>
<% end %>